body {
background: #66FFCC;
text-align: center;
}
#main {
 width:  235px;
 height: 170px;
 background: #F0F0F0;
 margin: 20px  100px;
 border: groove 25px #650099;
}
h1 {
text-align:center;
font-family: "Comic Sans MS";
font-size: 40pt;
color: #000000;
}

.nav_bar {
  position: relative;
  top: -160px;
  right: -190px;
  font-family:"Trebuchet MS";
  font-size: 25px;
  background: #FFFFFF;
  border: solid 5px #000000;
  width: 660px;
  margin: 0px  200px ;
  padding: 10px 20px 10px 20px;
  -webkit-border-raduis: 10px;
   -moz-border-raduis: 10px;
    border-radius: 10px;
  }
  .nav_bar a {
  color: #650099;
  text-decoration: none ;
  margin-left: 10px;
  margin-right: 10px;
  }
  .nav_bar a:hover {
  color: #000000;
  text-decoration: underline;
  }
  